body {
    width: 100vw;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: #E1DCD9;
    font-family: 'Hubballi', cursive;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #A67F78;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
  }

nav {
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
    display: flex;
    background-color: #3E3C3C;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 3px 7px -2px rgba(0, 0, 0, 0.4); 
    padding: 15px 10px;
    z-index: 1000;
}

nav * {
    cursor: pointer;   
    text-decoration: none;
    color: #ebebde;
}

.nav-center {
    display: flex;
    background-color: #3E3C3C;
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    font-size: 20px;
}

.nav-left {
    display: flex;   
    font-size: 16px;
    font-weight: 200;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo:hover {
    color: white;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(11deg) brightness(10%) contrast(100%);
}

.nav-logo-icon {
    margin: 10px;
    width: 35px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(11deg) brightness(105%) contrast(100%);
}

@keyframes floating {
    0% { transform: translate(0,  -7px); }
    50%  { transform: translate(0, 7px); }
    100%   { transform: translate(0, -7px); } 
}

.nav-right {
    display: flex;
    font-size: 20px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.nav-right:hover {
    color: black;
}

.gitlogo {
    height: 35px;
    margin: 3px;
}

.nav-link, .github-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ebebde;
    padding: 10px;
}

.nav-link {
    border-right: 1px solid #A67F78;
    height: 100%;
    flex: 1;
    justify-content: center;
    padding: 20px
}

.nav-link:last-child {
    border-right: none;
}


.nav-link:hover, .github-link:hover {
    color: black;
}


.nav-link:focus-within {
    background-color: #ebebde;
    border-top: 1px solid #3E3C3C;
    color:#3E3C3C;
    font-weight: 600;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin: 130px 0px;
    justify-content: space-around;
}


@keyframes fadein {
   from {opacity: 0%;}
   to {opacity: 100%;}
}

.project {
    display: flex;          
    flex-direction: column; 
    padding: 30px 10px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    width: 150px;
    font-size: 24px;  
    animation-name: fadein;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;  
}


.project:hover {
    box-shadow: 0px 2.98256px 7.4564px rgba(255, 255, 255, 0.698);
    border-radius: 25px;
    filter: invert(100%) sepia(30%) saturate(100%) hue-rotate(5deg) brightness(100%) contrast(100%);;
}

.project--title {
    padding-bottom: 7px;
}

.project--icon {
    margin-bottom: 17px;
    width: 50%;
    margin-top: 10px;
}


.project-description {
    font-size: 12px;
    font-weight: 550;
    line-height: 25px
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 150px 0px 150px 0px;
}

.skills-list {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding: 35px 0px 25px 0px;
    margin: 10px;
    animation-name: fadein;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out; 
}

.skills-list:hover {
    filter: invert(100%) sepia(30%) saturate(100%) hue-rotate(5deg) brightness(100%) contrast(100%);
    box-shadow: 0px 2.98256px 7.4564px rgba(255, 255, 255, 0.698);
    border-radius: 25px;
}

.skill--icon {
    width: 70px;
}

.skill--title {
    text-align: center;
    font-size: 19px;
}


@media (min-width: 768px) {
    nav {
        padding: 15px 35px;
    }
    .nav-center {
        font-size: 25px;
    }
    .nav-left {    
        font-size: 25px;
    }
    .nav-right {
        font-size: 25px;
    }
    .project {
        width: 30%;
        margin: 25px 15px;
    }
    .project--title {
        font-size: 30px;
    }
    .project-description {
        font-size: 20px;
    }
    .skill--icon {
        width: 40%;
        margin-top: 30px;
    }
    .skill--title {
        font-size: 30px;
    }
} 

 @media (min-width: 910px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    #root {
        padding: 60px 50px 60px 50px;
    }
    .app-container {
        border-radius: 25px;
    }
    nav {
        top: 60px;
        left: 50px;
        right: 50px;
        padding: 10px 30px 10px 30px;
        border-radius: 25px 25px 0px 0px;
        margin: 0;
    }
    .nav-left {
        font-size: 20px;
    }
    .nav-logo-icon {
        width: 30px;
        margin: 5px;
    }
    .nav-center {
        position: static;
            top: auto;
            left: auto;
            right: auto;
        font-size: 20px;
        padding: 15px 25px;
        justify-content: space-between;
    }
    .nav-right {
        font-size: 22px;
    }
    .nav-link, .github-link {
        display: flex;
        align-items: center;
        margin: 0 20px;
        text-decoration: none;
        color: #ebebde;
        padding: 10px;
        border: none;
    }

    .nav-link:hover {
        background-color: #3E3C3C;
    }

    .nav-link:focus-within {
        background-color: #3E3C3C;
        color: black;
    }

    .gitlogo {
        height: 30px;
    }
    .projects-container {
        margin-top: 200px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .project {
        width: 30%;
        font-size: 25px; 
        padding: 20px 0px;
    }
    .project--title {
        padding-bottom: 20px;
    }
    .project-description {
        font-size: 24px;
    }
    .project--icon {
        padding-bottom: 20px;
    }
    .skills-container {
        margin: 100px 30px 20px 30px;  
    }
    .skills-list {
        width: 25%;  
        margin: 0px;
    }
    .skill--icon {
        width: 40%;
        margin-top: 24px;
    }
    .skill--title {
        font-size: 22px; 
    }
  } 


  @media (min-width: 1260px) {
    .projects-container {
        margin-top: 120px;
        margin-bottom: 0px;
    }
    .project {
        width: 20%;
        padding: 20px;
    }
    .skills-container {
        margin: 110px 30px 0px 0px;  
    }
    .skills-list {
        width: 12%;
        padding: 0;
        margin: 8px;   
    }
    .skill--title {
        font-size: 20px
    }
  }

  @media (min-width: 1450px) {
    .projects-container {
        margin-top: 120px;
    }
    .project {
        width: 12%;
        padding: 20px;
    }
    .project-description {
        font-size: 24px;
    }
    .skills-container {
        margin-top: 110px;
    }
    .skills-list {
        padding: 0;
        margin: 8px;
    }
    .skills--icon {
        width: 35%
    }
  }

  
  
