

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #D1D7E0;
    font-family: 'Lato', sans-serif;
    padding: 80px 50px 80px 50px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.app-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #4C495B;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border-style: hidden;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    background-color: #802BB1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 3px 7px -2px rgba(0, 0, 0, 0.4); 
}

nav * {
    cursor: pointer;   
    text-decoration: none;
    color: #D1D7E0;
}

.nav-center {
    display: flex;
    font-size: 20px;
}

.nav-left {
    display: flex;
    font-family: 'Sansita', sans-serif;    
    font-size: 25px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo:hover {
    color: white;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(11deg) brightness(10%) contrast(100%);
}

.nav-logo-icon {
    max-width: 100%;
    width: 30px;
    margin: 5px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(11deg) brightness(105%) contrast(100%);
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); } 
}

.nav-right {
    display: flex;
    font-size: 15px;
    font-weight: bolder;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.nav-right:hover {
    color: black;
    
}

.gitlogo {
    max-width: 100%;
    height: 30px;
    margin: 3px;
}

.nav-link, .github-link {
    display: flex;
    align-items: center;
    margin: 0 20px;
    text-decoration: none;
    color: #f2f2f2ef;
    padding: 10px;
}

.nav-link:hover, .github-link:hover {
    color: black;
}

.nav-link-active {
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@keyframes fadein {
   from {opacity: 0%;}
   to {opacity: 100%;}
}

.project {
    display: flex;          
    flex-direction: column; 
    margin: 10px 20px 20px 30px;
    padding-top: 100px;
    width: 200px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    align-items: center;  
    animation-name: fadein;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;  
}

.project:hover {
    box-shadow: 0px 2.98256px 7.4564px rgba(255, 255, 255, 0.698);
    border-radius: 25px;
    filter: invert(100%) sepia(30%) saturate(100%) hue-rotate(5deg) brightness(100%) contrast(100%);;

}

.project--title {
    padding-bottom: 7px;
}

.project--icon {
    margin-bottom: 20px;
    height: 90px;
    width: 90px;
    margin-top: 10px;
}


.project-description {
    font-size: 18px;
    font-family: 'Lato', sans-serif;  
    font-weight: 400;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.skills-list {
    display: flex;
    flex-direction: column; 
    margin: 20px 50px 20px 50px;
    font-family: Lato, sans-serif;
    font-size: 25px;
    animation-name: fadein;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out; 
}

ul {
    list-style-image: url(/src/images/plus.svg);
    list-style-position: outside;;
    
}

li {
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    
}

li:hover {
    filter: invert(100%) sepia(30%) saturate(100%) hue-rotate(5deg) brightness(100%) contrast(100%);
}
