@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: #cbd2d4;
    font-family: 'Raleway', sans-serif;
    padding: 0;
}
.welcome-container {
    display:none;
}
.app-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url('./images/5570863.jpg');
    background-size: contain;
    width: 100%;
}

.nav {
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
    display: flex;
    background-color:#252934;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 3px 7px -2px rgba(0, 0, 0, 0.4); 
    padding: 10px 30px;
    z-index: 1000;
}

.nav * {  
    text-decoration: none;
}

.nav-left {
    display: flex;   
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: default;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
}

.nav-center {
    display: flex;
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    font-size: 20px;
    background-color:#252934;
    color: #fff;
}

@keyframes floating {
    0% { transform: translate(0,  -5px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -5px); } 
}

.nav-right {
    display: flex;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.gitlogo, .linklogo {
    width: 25px;
    height: auto;
}

.gitlogo:hover, .linklogo:hover {
    fill:#e31b6d;
    transform: scale(1.20);
    transition: all 250ms;
}

.nav-link, .github-link, .nav-link-active, .linkedin-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    fill: #fff;
    padding: 10px;
}

.nav-link, .nav-link-active {
    border-right: 1px solid #555454;
    height: 100%;
    flex: 1;
    justify-content: center;
}

.nav-link:last-child, .nav-link-active:last-child {
    border-right: none;
}

.nav-link-active {
    background-color: white;
    border-top: 1px solid #161616;
    color:#161616;
    font-weight: 600;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0px;
    justify-content: space-around;
}

@keyframes fadein {
   from {opacity: 0%;}
   to {opacity: 100%;}
}


.container-title {
    text-align: center;
    text-transform: uppercase;
    color:rgb(74, 74, 74);
    font-weight: 700;
    font-size: 36px;
    margin-top: 120px;
}

.project {
    display: flex;          
    flex-direction: column;
    padding: 10px 10px;
    margin: 30px 0;
    text-decoration: none;
    text-align: center;
    align-items: center;
    width: 45%;  
    animation-name: fadein;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;   
    color: black;
}

.project--title {
    padding-bottom: 7px;
    height: 64px;
    margin-bottom: 30px;
    font-size: 26px; 
    font-weight: 600;
    color:rgb(28, 149, 190);
}

.project--icon {
    margin-bottom: 45px;
    width: 80px;
    height: auto;
}

.project-description {
    font-size: 14px;
    font-weight: 550;
    line-height: 25px;
    height: 100px;
}

.experience-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #cbd2d495;
}

ul {
    font-size: 32px;   
    font-weight: 600;
    text-align: center;
    line-height: 60px; 
    padding-inline-start: 10px;
    animation-name: fadein;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out; 
    margin: 0px;
    text-decoration: none;
    color:rgb(28, 149, 190)
}

.cert-data { 
    margin: 0px 22px 20px 22px;
    animation-name: fadein;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out; 
}

.certificates-title {
    font-size: 32px;   
    text-align: center;
    line-height: 60px;
    font-weight: 600;
    color:rgb(28, 149, 190)
}

.certificate { 
    font-size: 26px;
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.cert--description {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

li { 
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: justify;
    margin: 25px;
    cursor: pointer;
    color: black;
}

li:hover, .certificate:hover{
    color: rgb(28, 149, 190);
    transform: scale(1.02);
    transition: all 250ms cubic-bezier(0.6, 0, 0, 0.4);
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0px 150px 0px;
}

.skills-list {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 40%;
    padding: 35px 0px 25px 0px;
    margin: 10px;
    animation-name: fadein;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out; 
}

.skill--icon {
    width: 65px;
    margin-bottom: 10px;
    height: auto;
}

.skill--title {
    text-align: center;
    font-size: 18px;
}
.footer {
    display: none;
}


@media (min-width: 767px) {
    .nav {
        padding: 15px 35px;
    }
    .nav-center {
        font-size: 25px;
    }
    .nav-left {    
        font-size: 18px;
    }
    .nav-right {
        font-size: 25px;
    }
    .project {
        margin: 25px 15px;
    }
    .project--title {
        font-size: 36px;
    }
    .project--description {
        font-size: 20px;
    }
    .experience-container {
        margin: 100px 40px 0px 40px;
    }
    .certificates-title {
        font-size: 36px;
    }
    .cert--title {
        font-size: 30px;
    }
    .cert--description {
        font-size: 18px;
        margin: 46px;
    }
    ul {
        font-size: 36px;
    }
    li {
        font-size: 18px;
        margin: 46px;
    }
    .skill--icon {
        width: 30%;
        margin-top: 30px;
    }
    .skill--title {
        font-size: 30px;
    }
} 

 @media (min-width: 910px) {
    body {
        width: 100vw;
        height: 100%; 
        overflow-x: hidden;
    }
    .app-container {
        border: none;
    }
    .welcome-container {
        width: 100%;
        background-image: url(.//images/background.gif);
        background-size: cover;
        opacity: 0.95;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .welcome-message {
        text-align: center;
        color: #fff;
        letter-spacing: 0.1em;
    }
    .welcome-header{
        margin: 5px;
    }
    .welcome-btn {
        transition: all .6s ease;
        color: #fff;
        border: 2px solid #fff;
        font-family:'Montserrat', sans-serif;
        text-align: center;
        line-height: 1;
        font-size: 15px;
        background-color : transparent;
        padding: 10px 25px;
        outline: none;
        margin-top: 10px;
        cursor: pointer;
    }
    .welcome-btn:hover {
        background-color:rgb(28, 149, 190);
        border-color:rgb(28, 149, 190);
    }
    .name {
        color:#e31b6d;
        font-family: 'Varela Round', sans-serif;
    }
    .nav {
        position: static;
        padding: 0px 50px;
        margin: 0;
        background-color:#252934;
        box-shadow: none;
        border-bottom: 3px solid rgb(28, 149, 190);
        transform: scale(1.03);
    }
    .sticky {
        position: fixed;
        top: 0;
        transform: scale(1);
        transition: all 400ms;  
        transition-timing-function: linear;
        border-bottom: 3px solid rgb(28, 149, 190)
    }
    .nav-left {
        font-size: 12px;
        color:#cbd2d4;
        font-weight: 300;
    }
    .nav-center {
        position: static;
            top: auto;
            left: auto;
            right: auto;
        font-size: 12px;
        padding: 5px 25px;
        justify-content: space-between;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 400;
    }
    .nav-link, .github-link, .nav-link-active {
        background-color: transparent;
        display: flex;
        align-items: center;
        margin: 0 18px;
        text-decoration: none;
        color: #fff;
        fill: black;
        padding: 10px;
        border: none;
    }
    .nav-link-active {
        font-size: larger;
        text-decoration: overline;
        color:#e31b6d;
    }
    .nav-link:hover {
        transform: scale(1.10);
        transition: all 250ms;
        color:#e31b6d;
    }
    .anchor-div {
        height: 2px;
        margin-bottom: 150px;
    }
    .gitlogo, .linklogo {
        width: 20px;
        fill: #cbd2d4;
        color:#cbd2d4;
    }
    .container-title {
        display: block;
        margin: 100px 20px 50px 20px;
        text-align: center;
        text-transform: uppercase;
        color:rgb(74, 74, 74);
        font-weight: 700;
    }
    .projects-container {
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 10px;
        background-color:#f5f5f5;
        margin: 70px 0 0 0;
    }
    .project {
        width: 20%; 
        padding: 5px 3px;
        outline: 1px solid transparent;
        outline-offset: -40px;
        transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
    }
    .project:hover { 
        transform: scale(1.10);
        color: rgb(28, 149, 190);
        outline: 1px solid rgb(28, 149, 190);
        outline-offset: 0px;
        fill: rgb(28, 149, 190)
    }
    .project--title {
        margin-bottom: 40px;
        font-size: 18px;
        height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color:rgb(28, 149, 190)
    }
    .project--icon {
        width: 20%;
        margin-bottom: 40px;
    }
    .project--description {
        font-size: 14px;
        line-height: 20px; 
        color: #616161;
    }
    .experience-container {
        margin: 70px 0 0 0;
        flex-direction: row;
        align-items: flex-start;
    }
    .cert-data {
        width: 50%;
        padding: 0 30px;
        border-right: 1.6px dotted rgb(28, 149, 190);
        margin: 0;
    }
    .certificate {
        margin-bottom: 10px;
    }
    .certificates-title {
        font-size: 26px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
    .cert--title {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase; 
    }
    .cert--description {
        font-size: 14px;
        line-height: 22px;
        color: #616161; 
        margin: 10px 20px;
    }
    ul {
        width: 50%;
        font-size: 26px;
        font-weight: 700;
        padding: 0 50px;
    }
    li:first-child {
        margin-top: 28px;
    }
    li {
        margin: 10px 0;
        font-size: 14px;
        line-height: 22px;
        color: #616161; 
        margin: 10px 20px;
    }
    .skills-container {
        padding: 20px 50px;
        background-color: #adacac8a;
        margin: 0 0 100px 0;
    }
    .skills-list {
        width: 10%;  
        margin: 11px;
        outline: 1px solid transparent;
        outline-offset: -40px;
        transition: all 250ms cubic-bezier(0.2, 0, 0, 0.8);
        padding: 5px 0;
    }
    .skills-list:hover {
        transform: scale(1.10);
        color: rgb(28, 149, 190);
        outline: 1px solid rgb(28, 149, 190);
        outline-offset: 0px;
        fill: rgb(28, 149, 190)
    }
    .skill--icon {
        width: 30%;
        height: 100%;
        margin-top: 5px
    }
    .skill--title {
        font-size: 14px;
        height: 40px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .footer {
        background-color: #252934; 
        transform: skewX(34%);
        display: block;
    }
    .footer-name {
        font-size: 12px;
        color:#555454;
        text-align: center;
        font-weight: 300;
        margin: 60px 0px 20px 0px;
    }
    .footer-date {
        color:#e31b6e99
    }
  } 

  @media (min-width: 1410px) {
    .welcome-header {
        font-size: 40px;
    }
    .welcome-btn {
        margin-top: 30px;
        font-size: 20px;
        padding: 15px 25px;
    }
    .nav-center {
        padding: 10px 35px;
        font-size: 18px;
    }
    .nav-left {
        font-size: 16px;
    }
    .nav-link {
        font-size: 16px;
    }
    .gitlogo, .linklogo {
        width: 26px;
    }
    .container-title {
        font-size: 36px;
    }
    .projects-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .projects-container, .skills-container, .experience-container {
        margin-bottom: 70px;
    }
    .project {
        margin-bottom: 50px;
        height: 230px;
    }
    .project--title, .cert--title {
        font-size: 24px;
    }
    .project--description, .cert--description, li, .skill--title {
        font-size: 18px;
        line-height: 24px;
    }
    .certificates-title {
        margin-bottom: 30px;
    }
    li:first-child {
        margin-top: 50px;
    }
    .skills-list {
        margin: 16px;
    }
  }

  @media (min-width: 1550px) {
    .welcome-header {
        font-size: 45px;
    }
    .welcome-btn {
        padding: 18px 36px;
        font-size: 25px;
        margin-top: 30px;
    }
    .container-title {
        margin-bottom: 120px;
    }
    .certificates-title, ul {
        font-size: 30px;
    }
    .experience-container, .projects-container, .skills-container {
        margin-bottom: 120px;
    }
    .footer {
        height: 150px;
    } 
    .footer-date, .footer-name {
        margin-top: 100px;
        font-size: 22px;
    }
  }

  @media (min-width: 1770px) {
    .welcome-header {
        font-size: 55px;
    }
    .welcome-btn {
        padding: 20px 40px;
        font-size: 30px;
        margin-top: 40px;
    }
    .projects-container, .skills-container, .experience-container {
        margin-top: 140px;
    }
    .nav-left {
        font-size: 22px;
    }
    .nav-left, .nav-right {
        margin: 0 10px;
    }
    .nav-link {
        font-size: 22px;
    }
    .container-title {
       font-size: 40px;
    }
    .project {
        padding: 25px 5px;
        height: 300px;
    }
    .project--title {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .project--description {
        font-size: 20px;
    }
    .cert-data {
        border-right: 4px dotted rgb(28, 149, 190);
    }
    .certificate {
        margin-bottom: 30px;
    }
    .certificates-title {
        font-size: 40px;
        margin-bottom: 36px;
    }
    .cert--title {
        font-size: 30px;
    }
    .cert--description{
        font-size: 20px;
        line-height: 30px;
    }
    ul {
        font-size: 40px;
    }
    li:first-child {
        margin-top: 65px;
    }
    li {
        font-size: 20px;
        line-height: 30px;
    }
    .skills-container {
        margin-bottom: 200px;
    }
    .skill--title {
        font-size: 20px;
    }
    .footer-name, .footer-date {
        font-size: 20px;
        margin-top: 150px;
    }
    .footer {
        height: 200px;
    }
  }

  @media (min-width: 2130px) { 
        .welcome-header {
            font-size: 50px;
        }
        .welcome-btn {
            padding: 30px 70px;
            margin-top: 40px;
        }
        .nav-center {
            margin: 20px 0;
        }
        .nav-link {
            font-size: 30spx;
        }
        .gitlogo, .linklogo {
            width: 40px;
        }
        .nav-left, .nav-right {
        margin: 0 30px;
        }
        .nav-left {
            font-size: 30px;
        }
        .container-title {
            font-size: 50px;
            margin-top: 300px;
        }
        .project {
            padding: 50px 20px;
        }
        .project--title, .cert--title {
            font-size: 40px;
        }
        .project--icon {
            margin: 40px 0 60px 0;
        }
        .project--description {
            font-size: 30px;
            line-height: 42px;
            margin-bottom: 30px;
        }
        .cert-data {
            border-right-width: 6px;
        }
        .certificates-title, ul {
            font-size: 50px;
            margin-bottom: 70px;
        }
        .cert--description, li, .skill--title {
            font-size: 30px;
            line-height: 42px;
        }
        li {
            margin-bottom: 25px;
        }
        li:first-child {
            margin-top: 100px;
        }
        ul {
            padding: 0 80px;
        }
        .skills-list {
            margin: 15px;
            padding: 25px 10px 10px 10px;
        }
        .footer-date, .footer-name {
            font-size: 26px;
        }
  }

  @media (min-width:2500px) {
    .welcome-header {
        font-size: 70px;
    }
    .welcome-btn {
        padding: 28px 60px;
        font-size: 36px;
        margin-top: 60px;
    }
    .nav-center {
        margin: 18px 0;
    }
    .nav-link {
        font-size: 30px;
    }
    .project {
        height: 500px;
    }
    .skills-list {
        margin: 30px;
    }
  }

  @media (min-width: 3300px) {
    .welcome-header {
        font-size: 75px;
    }
    .welcome-btn {
        padding: 40px 100px;
        font-size: 50px;
        margin-top: 60px;
    }
    .nav-center {
        margin: 35px 0;
    }
    .nav-link {
        font-size: 40px;
    }
    .nav-left {
        font-size: 38px;
        margin-left: 50px;
    }
    .nav-right {
        margin-right: 50px;
    }
    .gitlogo, .linklogo {
        width: 50px;
    }
    .container-title {
        font-size: 70px;
        margin-bottom: 250px;
    }
    .projects-container, .experience-container, .skills-container {
        margin-bottom: 300px;
    }
    .project {
        height: 600px;
    }
    .project--title {
        margin-bottom: 80px;
    }
    .project--title, .cert--title {
        font-size: 55px;
    }
    .project--icon {
        margin-bottom: 80px;
    }
    .project--description, .cert--description, li, .skill--title {
        font-size: 42px;
        line-height: 60px;
    }
    .cert-data {
        border-right-width: 10px;
    }
    .certificates-title, ul {
        font-size: 70px;
        margin-bottom: 120px;
    }
    li:first-child {
        margin-top: 180px;
    }
    .skills-container {
        padding: 30px 10px;
    }
    .skills-list {
        margin: 40px;
    }
    .footer {
        height: 400px;
    }
    .footer-date, .footer-name {
        font-size: 40px;
        margin-top: 300px;
    }
}

@media (min-width: 3700px) {
    .welcome-header {
        font-size: 100px;
    }
}

@media (min-width: 4000px) {
    .welcome-header {
        font-size: 110px;
    }
    .welcome-btn {
        padding: 50px 110px;
        font-size: 60px;
        margin-top: 90px;
    }
    .nav-center {
        margin: 40px 0;
    }
    .nav-link {
        font-size: 50px;
        margin-right: 70px;
    }
    .nav-left {
        font-size: 48px;
        margin-left: 70px;
    }
    .nav-right {
        margin-right: 50px;
    }
    .gitlogo, .linklogo {
        width: 70px;
        margin-right: 40px;
    }
    .container-title {
        font-size: 100px;
        margin-bottom: 400px;
    }
    .projects-container {
        margin-bottom: 400px;
    }
    .project {
        height: 750px;
        margin: 100px;
    }
    .project--title {
        margin-bottom: 130px;
    }
    .project--icon {
        margin-bottom: 120px;
    }
    .project--title, .cert--title {
        font-size: 75px;
    }
    .project--description, .cert--description, li, .skill--title {
        font-size: 52px;
        line-height: 77px;
    }
    .experience-container {
        margin-bottom: 400px;
        padding: 0 100px;
    }
    .cert-data {
        border-right-width: 13px;
    }
    .certificate {
        margin-bottom: 100px;
    }
    .certificates-title, ul {
        font-size: 90px;
        margin-bottom: 150px;
    }
    li:first-child {
        margin-top: 220px;
    }
    ul {
        padding: 0 120px;
    }
    .skills-container {
        margin-bottom: 400px;
    }
    .skills-list {
        margin: 60px;
    }
    .footer {
        height: 500px;
    }
    .footer-date, .footer-name {
        font-size: 50px;
        margin-top: 350px;
    }
}
  
  
